@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* Global variables */
:root {
  --transition: all 0.3s ease-out;
}

body {
  margin: 0;
  font-family: "Press Start 2P", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  padding-bottom: 4rem;
}
